<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="test/loader.php">
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="all">
            <directory>test/YenTest</directory>
        </testsuite>
        <testsuite name="http">
            <directory>test/YenTest/Http</directory>
        </testsuite>
        <testsuite name="httpclient">
            <directory>test/YenTest/HttpClient</directory>
        </testsuite>
    </testsuites>
</phpunit>
